.matrixSection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.matrixTitle {
  padding: 10px;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: darkorange;
  padding: 4px;
  border-radius: 20px;
}
.questionMark {
  color: darkorange;
  background-color: white;
  border-radius: 50%;
}

.matrixContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.matrix {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(20, 20, 20);
  padding: 15px;
  border-radius: 20px;
  margin-top: 20px;
}

.matrixHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  font-size: 14px;
  padding: 10px;
}

.previewBtn {
  font-weight: bold;
  background-color: darkorange;
  color: white;
  border-radius: 7px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 40px;
  margin-top: 10px;
  transition: all 0.3s ease;
  &:hover {
    background-color: transparent;
    border: 3px solid darkorange;
    color: darkorange;
  }
}

.grid {
  width: 30px;
  background-color: rgb(80, 80, 80);
  height: 30px;
  border-radius: 5px;
}

.grids {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.xClub {
  background-color: rgb(0, 255, 102);
  color: rgb(0, 0, 0);
  padding: 5px;
  font-weight: bold;

  &:hover {
    background-color: transparent;
    color: rgb(0, 204, 51);
    border: 3px solid rgb(0, 204, 51);
  }
}

.global {
  background-color: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  padding: 5px;
  font-weight: bold;

  &:hover {
    background-color: transparent;
    color: rgb(0, 123, 255);
    border: 3px solid rgb(0, 123, 255);
  }
}

@media (min-width: 728px) {
  .matrixContainer {
    align-items: center;
    padding: 10px;
    gap: 10px;
    flex-direction: row;
    width: 95%;
  }
}

@media (max-width: 728px) {
  .matrixContainer {
    width: 90%;

    flex-direction: column;
  }
}
