.home {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeElements {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loggingInterface {
  position: relative;
  margin-top: 30px;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.username {
  font-weight: bold;
  font-size: 27px;
  width: 80%;
  max-width: 700px;

}


.walletInfo {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content:e;
  align-items: center;
  width: 80%;
  max-width: 700px;
  border-radius: 20px;
  flex-direction: row;
  background-color: rgb(32, 32, 32);
}

.left {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.icon {
  color: rgba(255, 174, 0, 0.92);
}
.balance {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.addressWallet {
  max-width: 100%;
  overflow: scroll;
  color: rgba(228, 228, 228, 0.542);
}



.buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 700px;


  button {
    margin-top: 10px;
    transition: all 0.5s;
    padding: 10px 20px;
    border: none;
    background-color: darkorange;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    width: 45%;
    font-weight: bold;
    &:hover {
      background-color: transparent;
      border: 3px solid darkorange;
      color: darkorange;
    }
  }

}

.imageSaved {
  width: 250px; /* Largeur fixe */
  height: 250px; /* Hauteur fixe */
  object-fit: cover; /* Adapte l'image pour remplir l'espace tout en gardant ses proportions */
  overflow: hidden; /* Empêche le débordement si nécessaire */
}


.dashboardButton {
  background-color: transparent!important;
  border: 3px solid orange!important;
  color : orange!important
}