.statsContainer,
.top,
.profits,
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  flex-direction: column;
}
.top {
  height: 100%;
}



.title {
  display: flex;
  justify-content: start;
  align-items: left;
  width: 100%;
  text-align: left;
  gap: 10px;
  opacity: 0.7;
  padding: 5px;
  position: relative;
  z-index: 1;

  .shareIcon {
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 50%;
    background: rgba(128, 128, 128, 0.217);
  }
}

.profits {
  height: 100%;
  background-color: rgba(20, 20, 20, 0.186);
  border-radius: 25px;
  padding: 20px;
  width: 100%;
  background-image: url(../../../assets/blurs/green_blur.png);
  background-size: cover;
}
.gains {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;

  gap: 10px;
}


.amount {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: left;
}

.number {
  width: 90%;

  font-size: 1.25em;
  font-weight: bold;
  padding: 5px;
}
.profitNumber {
  width: 90%;

  font-size: 1.25em;
  font-weight: bold;
  padding: 5px;
}
 
.daily {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  .arrow {
    width: 15px;
  }
}

.middle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 98%;
  position: relative;
  flex-direction: column;
}

.teamData {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;

  padding: 10px;
  border-radius: 20px;
  background-color: rgba(20, 20, 20, 0.408);
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  text-align: left;
  position: relative;
  background-size: cover;
  /* Ajoute de l'espace pour la grille */
  overflow: hidden; /* Empêche la grille de dépasser */
  border: 1px solid rgba(128, 128, 128, 0.037);
  background-image: url(../../../assets/others/shadow.webp);
  background-size: cover;

}



.activity {
  position: relative;
  display: flex;
  width: 95%;
  justify-content: space-between;
  padding: 7px;
  gap: 10px;
  border-radius: 30px;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(152, 152, 152, 0.196);
}

.leftActivity {
  display: flex;
  justify-content: start;
  align-items: center;
  
}

.arrow {
  width: 15px;
  height: 15px;
}

.internalImage {
  opacity: 0.3;
  position: absolute;
  width: 100px;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.internalImageratio {
  opacity: 0.3;
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: 0;
}
.ratio {
  background-color: rgba(152, 152, 152, 0.196);
  display: flex;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px;
  width: 95%;
  position: relative;
}

.right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.iconTether {
  font-size: 1.4em;
}



@media (max-width: 768px) {

  .teamData {
    width: 90%;
  }

}
@media (min-width: 768px) {

  
  .middle {
    flex-direction: row;
    gap: 10px;
  }

  .profitNumber {
    font-size: 2.2em;
  }
}